[ default ]
# Override these using environment variables
ROOTCN                  = TRIAL PKIoverheid Root CA - G4 Root Priv G-TLS - 2024
ROOTBASENAME            = TRIALPKIoverheidRootCAG4RootPrivGTLS2024

INTMBASENAME            = TRIALPKIoverheidRootCAG4IntmPrivGTLSSYS2024
INTMCN                  = TRIAL PKIoverheid Root CA - G4 Intm Priv G-TLS SYS - 2024

TSPBASENAME             = TRIALMyTSPG4PKIoPrivGTLSSYS2024
TSPCN                   = TRIAL My TSP - G4 PKIo Priv G-TLS SYS - 2024

CRLURI                  = http://localhost:8080/crl
CERTURI                 = http://localhost:8080/certs

SAN                     = URI:www.example.com

CA_DIR                  = ./ca/G4PrivateTLS

[ ca ]
default_ca              = CA_default

[ CA_default ]
dir                     = $ENV::CA_DIR
certs                   = $dir/certs
database                = $dir/index.txt
new_certs_dir           = $dir/newcerts
serial                  = $dir/serial
rand_serial             = yes
certificate             = $certs/$ENV::ROOTBASENAME.pem
private_key             = $dir/private/$ENV::ROOTBASENAME.key
default_md              = sha512
default_days            = 365
default_crl_days        = 30
policy                  = policy_anything
default_bits            = 4096
default_md              = sha512
string_mask             = utf8only
# Comparison includes an unique subject.commonName, however some types omit this field
unique_subject          = no

[ policy_anything ]
countryName             = supplied
organizationName        = supplied
commonName              = supplied

# --------------------------------------------------
# Root CA
# --------------------------------------------------
[ req ]
distinguished_name      = req_ca_dn
x509_extensions         = v3_ca
prompt                  = no

[ req_ca_dn ]
countryName             = NL
organizationName        = PKIoverheid TRIAL - not for Production use
commonName              = $ENV::ROOTCN

[ v3_ca ]
basicConstraints        = critical, CA:true
authorityKeyIdentifier  = keyid:always
subjectKeyIdentifier    = hash
keyUsage                = critical, keyCertSign, cRLSign, digitalSignature

# --------------------------------------------------
# Intermediate (Domain) CA
# --------------------------------------------------
[ req_intermediate ]
distinguished_name      = req_intermediate_dn
x509_extensions         = v3_intermediate_ca
prompt                  = no

[ req_intermediate_dn ]
countryName             = NL
organizationName        = PKIoverheid TRIAL - not for Production use
commonName              = $ENV::INTMCN

[ v3_intermediate_ca ]
basicConstraints        = critical, CA:true
authorityKeyIdentifier  = keyid:always,issuer
authorityInfoAccess     = caIssuers;URI:$ENV::CERTURI/$ENV::ROOTBASENAME.cer
certificatePolicies     = 0.4.0.2042.1.2, 2.16.528.1.1003.1.2.41.15.38.10, 2.16.528.1.1003.1.2.41.15.39.10, 2.16.528.1.1003.1.2.41.15.35.11, 0.4.0.2042.1.1
extendedKeyUsage        = serverAuth,clientAuth
crlDistributionPoints   = URI:$ENV::CRLURI/$ENV::ROOTBASENAME.crl
subjectKeyIdentifier    = hash
keyUsage                = critical, keyCertSign, cRLSign, digitalSignature

# --------------------------------------------------
# Issuing (TSP) CA
# --------------------------------------------------
[ req_issuing ]
distinguished_name      = req_issuing_dn
x509_extensions         = v3_issuing_ca
prompt                  = no

[ req_issuing_dn ]
countryName             = NL
organizationName        = My TSP - not for Production use
commonName              = $ENV::TSPCN

[ v3_issuing_ca ]
basicConstraints        = critical, CA:true, pathlen:0
authorityKeyIdentifier  = keyid:always,issuer
authorityInfoAccess     = caIssuers;URI:$ENV::CERTURI/$ENV::INTMBASENAME.cer
certificatePolicies     = 0.4.0.2042.1.1, 0.4.0.2042.1.2, 2.16.528.1.1003.1.2.41.15.39.10, 2.16.528.1.1003.1.2.41.15.35.11
extendedKeyUsage        = serverAuth,clientAuth
crlDistributionPoints   = URI:$ENV::CRLURI/$ENV::INTMBASENAME.crl
subjectKeyIdentifier    = hash
keyUsage                = critical, keyCertSign, cRLSign, digitalSignature

# --------------------------------------------------
# End entity Certificate
# --------------------------------------------------
[ v3_end_entity ]
basicConstraints        = critical, CA:false
authorityKeyIdentifier  = keyid,issuer
authorityInfoAccess     = caIssuers;URI:$ENV::CERTURI/$ENV::TSPBASENAME.cer
certificatePolicies     = 2.16.528.1.1003.1.2.41.15.35.11, 0.4.0.2042.1.1
extendedKeyUsage        = serverAuth, clientAuth
crlDistributionPoints   = URI:$ENV::CRLURI/$ENV::TSPBASENAME.crl
subjectAltName          = $ENV::SAN
subjectKeyIdentifier    = hash
keyUsage                = critical, digitalSignature, keyEncipherment

[ v3_end_entity_legal ]
basicConstraints        = critical, CA:false
authorityKeyIdentifier  = keyid,issuer
authorityInfoAccess     = caIssuers;URI:$ENV::CERTURI/$ENV::TSPBASENAME.cer
certificatePolicies     = 2.16.528.1.1003.1.2.41.15.35.11, 0.4.0.2042.1.1
extendedKeyUsage        = serverAuth, clientAuth
crlDistributionPoints   = URI:$ENV::CRLURI/$ENV::TSPBASENAME.crl
subjectAltName          = $ENV::SAN
subjectKeyIdentifier    = hash
keyUsage                = critical, digitalSignature, keyEncipherment
qcStatements            = ASN1:SEQUENCE:qcStatements

[ policy_end_entity ]
countryName             = supplied
organizationName        = supplied

[qcStatementWithInfo]
statementId             = OBJECT:1.3.6.1.5.5.7.11.2     # id-qcs-pkixQCSyntax-v2
statementInfo           = SEQUENCE:semanticsInfo

[semanticsInfo]
semanticsIdentifier     = OBJECT:0.4.0.194121.1.2       # id-etsi-qcs-SemanticsId-Legal